html, body {
	font-family: 'Times New Roman';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444;
}

div.main_menu {
    width: 100%;
    height: auto;
    font-size: 26px;
    background-color: #00A67C;
    padding: 10px;
	overflow: hidden;
	border-bottom: 3px solid #ccc;
}

div.main_menu a{
	color: white;
}

div.main_menu a:hover{
	color: #00382A;
}

div.main_menu p{
    color: #003E2E;
    display: inline-block;
    margin: 0;
}

div.footer{
    padding: 10px;
    width: 100%;
    color: #35D2AB;
    background-color: #006C51;
	border-top: 3px solid #ccc;
}

.left-menu {
	width: 300px;
	margin: 0;
	background: #eee;
	border-right: 3px solid #ccc;
	min-height: 100%;
}
.left-menu ul {
    padding-top: 30px;
    padding-bottom: 30px;
	min-height: 100%;
	margin: 0;
	padding-left: 0;
}
.left-menu ul li {
    line-height: 1.8;
    margin-left: auto;
    margin-right: auto;
	font-size: 26px;
    margin: 0;
	color: #999;
	text-align: center;
}
.left-menu ul li a {
	color: #999;
	text-decoration: none;
}
.left-menu ul li a:hover {
	color: #444;
	text-decoration: none;
}

table.table-content {
    width: 100%;
}

.content-text {
	padding: 50px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
    font-size: 20px;
}

input{
    padding: 5px;
}

.form-label p {
    font-size: 16px;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

button {
    min-width: 200px;
    font-size: 16px;
}

button:hover{
    cursor: pointer;
}

p.users {
    font-size: 20px;
}
span.username {
    font-family: Times, "Times New Roman", serif;
    color: #715454;
    font-size: 26px;
    font-weight: bold;
}
p.users span.block {
    font-family: Times, "Times New Roman", serif;
    color: #CD1E3B;
    font-size: 26px;
    font-weight: bold;
}
a.users {
	font-size: 26px;
	color: #999;
	text-decoration: none;
}
a.users:hover {
	color: #444;
}

a{
	color: #717171;
	text-decoration: none;
}

a:hover {
	color: #444;
}

ul.records{
    list-style: none;
    padding: 0;
}
ul.records li{
    text-align: center;
}
ul.records li.tag{
    line-height: 2.5;
}
img.record {
	max-width: 500px;
	height: auto;
}
h1 {
    text-align: center;
}