{% extends 'application/base.html' %}

{% block content %}
<h1>{{title}}</h1>

<form action="{% url 'addimage' %}" method="post", enctype="multipart/form-data">
    {% csrf_token %}
    {# {{ form.as_p }} #}

    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <button type="submit">Добавить</button>
</form>
{% endblock %}
