{% load static %}
{% load application_tags %}

<!-- Header -->
<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link type="text/css" href="{% static 'application/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'application/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% show_main_menu menu request %}
<!-- Конец header'а -->

<table class="table-content" border=0 cellpadding="0" cellspacing="0">
	<tr>
		<!-- Sidebar слева -->
		<td valign="top" class="left-menu">
			<ul id="left-menu">
				{% if request.user.is_superuser %}
				<li><a href="{% url 'users' %}">Пользователи</a></li>
				{% endif %}
				<li><a href="{% url 'addimage' %}">Добавление изображения</a></li>
				{% if request.user.is_authenticated %}
				<li><a href="{% url 'myrecords' %}">Мои записи</a></li>
				{% endif %}
			</ul>
		</td>
		<!-- Конец Sidebar'а -->

		<td valign="top" class="content">
			<!-- НАЧАЛО блока CONTENT -->
			<div class="content-text">
				{% block content %}
				{% endblock %}
			</div>
			<!-- КОНЕЦ блока CONTENT -->
		</td>
	</tr>
</table>

<!-- Footer -->
<div class="footer">
	Автор: Саляев И.Х.
</div>
<!-- Конец footer'а и страницы -->
</body>
</html>