{% extends 'application/base.html' %}

{% block content %}

<ul class="records">
{% for rec in records %}
    <li class="head"><img class="record" src="{{ rec.photo.url }}"></li>
    <li class="tag">{{ rec.tag }} </li>
    {% if request.user.is_superuser %}
    <a class="users" href="{% url 'delete_record' rec_id=rec.pk url='home' %}">[удалить]</a>
    <a class="users" href="{% url 'show_record' rec_id=rec.pk %}">[просмотреть]</a>
	{% endif %}
    <hr>
{% endfor %}
</ul>

{% endblock %}