{% block mainmenu %}

<div class="main_menu">
    {% for m in menu %}
        <a href="{% url m.url_name %}">{{ m.title }}</a>
    {% endfor %}

    {% if request.user.is_authenticated %}
    <p>| Вы вошли под пользователем: <span class="username"><a href="">{{ request.user.username }}</a></span></p>
        |
        <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
        <a href="{% url 'registration' %}">Регистрация</a>
        <a href="{% url 'login' %}">Войти</a>
        |
        <p>Вы неавторизованный пользователь</p>
    {% endif %}
</div>

{% endblock mainmenu %}