{% extends 'application/base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<ul class="records">
{% for rec in records %}
    <li class="head"><img class="record" src="{{ rec.photo.url }}"></li>
    <li class="tag">{{ rec.tag }} </li>
    <a class="users" href="{% url 'delete_record' rec_id=rec.pk url='myrecords' %}">[удалить]</a>
    <a class="users" href="{% url 'show_record' rec_id=rec.pk %}">[просмотреть]</a>
    <hr>
{% endfor %}
</ul>

{% endblock %}