{% extends 'application/base.html' %}

{% block content %}

<ul class="records">
    <li class="head"><img class="record" src="{{ record.photo.url }}"></li>
    <li class="tag">{{ record.tag }} </li>
</ul>

{% endblock %}