{% extends 'application/base.html' %}

{% block content %}

    {% for u in users %}
        {% if u.is_active %}
            <p class="users">Имя пользователя: <span class="username"><a href="">{{ u.username }}</a></span></p>
        {% else %}
            <p class="users">Имя пользователя: <span class="username"><a href="">{{ u.username }}</a></span>
                <span class="block">------- заблокирован</span></p>
        {% endif %}
            <a class="users" href="{% url 'delete_user' username=u.username %}">[удалить]</a>
        {% if u.is_active %}
            <a class="users" href="{% url 'block_user' username=u.username flag=1 %}">[заблокировать]</a>
        {% else %}
            <a class="users" href="{% url 'block_user' username=u.username flag=0 %}">[разблокировать]</a>
        {% endif %}
            <hr>
    {% endfor %}
        <br><br>
        <a class="users" href="{% url 'registration' %}">Создать нового пользователя</a>
{% endblock %}